#### What are magic commands and their uses?

Magic commands are an enhancement of the interactive IPython kernel (used by Jupyter) and make performing common tasks easier than using Python code alone.

##### Line magics and cell magics
Magic commands are easily identified because they all start with the % character. Line magics start with a single % and apply to the code on the rest of the line. Cell magics start with %% and apply to the rest of the code in a cell.

#### Bar Chart
Used to compare categorical data or to show the relationship between a categorical variable and a numerical cariable.

#### Count Plot
Used to display the frequency of observations in each category

#### Histogram
Used to represent the distribution of a continuous numerical variable.

In [11]:
import pyforest
from datetime import datetime
from collections import Counter

In [2]:
df = pd.read_csv("train_data_cross-sell.csv", encoding = 'latin1')
df.head()

,ÿid,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response
0,549771831,Male,"Monday, March 7, 1977",1,EMBAKASI,0,2020,Yes,38294,Jomo Kenyatta,"Thursday, December 21, 2023",1
1,373583351,Male,"Sunday, December 29, 2002",1,WESTLANDS,1,2020,No,28619,Obiero Ochieng,"Wednesday, June 28, 2023",0
2,933163655,Female,"Tuesday, August 23, 1994",1,DAGORETTI,1,2011,No,27496,Obiero Ochieng,"Saturday, December 9, 2023",0
3,698942186,Female,"Thursday, November 18, 1999",1,JUJA,0,2020,Yes,2630,Gitonga Mwangi,"Tuesday, July 25, 2023",0
4,515109822,Male,"Thursday, February 22, 2001",1,WESTLANDS,0,2015,Yes,23367,Obiero Ochieng,"Saturday, May 13, 2023",0

In [3]:
df.rename(columns={'ÿid' : 'id'}, inplace=True)
df.head()

,id,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response
0,549771831,Male,"Monday, March 7, 1977",1,EMBAKASI,0,2020,Yes,38294,Jomo Kenyatta,"Thursday, December 21, 2023",1
1,373583351,Male,"Sunday, December 29, 2002",1,WESTLANDS,1,2020,No,28619,Obiero Ochieng,"Wednesday, June 28, 2023",0
2,933163655,Female,"Tuesday, August 23, 1994",1,DAGORETTI,1,2011,No,27496,Obiero Ochieng,"Saturday, December 9, 2023",0
3,698942186,Female,"Thursday, November 18, 1999",1,JUJA,0,2020,Yes,2630,Gitonga Mwangi,"Tuesday, July 25, 2023",0
4,515109822,Male,"Thursday, February 22, 2001",1,WESTLANDS,0,2015,Yes,23367,Obiero Ochieng,"Saturday, May 13, 2023",0

In [5]:
df['Age'] = datetime.now().year - pd.to_datetime(df['Customer_Date_of_Birth']).dt.year
df.head()

,id,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response,Age
0,549771831,Male,"Monday, March 7, 1977",1,EMBAKASI,0,2020,Yes,38294,Jomo Kenyatta,"Thursday, December 21, 2023",1,48
1,373583351,Male,"Sunday, December 29, 2002",1,WESTLANDS,1,2020,No,28619,Obiero Ochieng,"Wednesday, June 28, 2023",0,23
2,933163655,Female,"Tuesday, August 23, 1994",1,DAGORETTI,1,2011,No,27496,Obiero Ochieng,"Saturday, December 9, 2023",0,31
3,698942186,Female,"Thursday, November 18, 1999",1,JUJA,0,2020,Yes,2630,Gitonga Mwangi,"Tuesday, July 25, 2023",0,26
4,515109822,Male,"Thursday, February 22, 2001",1,WESTLANDS,0,2015,Yes,23367,Obiero Ochieng,"Saturday, May 13, 2023",0,24

In [8]:
age_calc = df['Age']
age_calc

0         48
1         23
2         31
3         26
4         24
          ..
324461    48
324462    76
324463    31
324464    23
324465    70
Name: Age, Length: 324466, dtype: int32

In [12]:
co_unter = Counter(age_calc)
total_length = len(age_calc)
co_unter

Counter({25: 21715,
         24: 19517,
         26: 19307,
         23: 16182,
         27: 13869,
         22: 10692,
         28: 10059,
         29: 8249,
         45: 7103,
         44: 7092,
         46: 6946,
         43: 6848,
         30: 6824,
         47: 6815,
         48: 6458,
         42: 6390,
         49: 6277,
         41: 5838,
         31: 5717,
         50: 5717,
         51: 5536,
         40: 5361,
         52: 5065,
         32: 5007,
         53: 4835,
         39: 4795,
         54: 4563,
         38: 4517,
         55: 4411,
         33: 4399,
         34: 4282,
         37: 4222,
         36: 4208,
         35: 4154,
         56: 4045,
         57: 3614,
         58: 3441,
         59: 3277,
         21: 3225,
         60: 3090,
         61: 3084,
         62: 2845,
         63: 2720,
         64: 2689,
         65: 2471,
         66: 2371,
         67: 2309,
         68: 2245,
         70: 2167,
         69: 2119,
         71: 2043,
         72: 1777,
         73: 1742,
         74: 1664,
         75: 1576,
         76: 1418,
         77: 1292,
         78: 1206,
         79: 1075,
         80: 845,
         81: 800,
         82: 269,
         83: 32,
         84: 21,
         86: 14,
         85: 8,
         87: 2})

In [13]:
mean_of_age = age_calc.mean()

In [14]:
mean_of_age

40.191545493210384

In [15]:
variance_of_age = age_calc.var()
variance_of_age

240.033425631723

In [19]:
sample_age = age_calc.sample(50)

In [20]:
sample_age

37166     56
156855    46
16692     28
272532    28
193580    27
103726    28
113164    69
64895     53
103917    45
298297    64
45258     40
54277     26
49215     34
162722    44
103476    24
267639    45
63348     26
26448     39
88752     26
66015     48
226750    80
211117    24
77817     26
60775     25
216705    28
295741    26
7994      64
37949     42
234814    60
21339     50
25571     29
168602    37
113716    42
275634    31
282000    75
5890      24
278609    27
132337    31
150856    62
178782    27
278150    39
174048    22
16611     21
219379    23
69951     39
267273    59
85437     37
260618    64
226821    40
307264    22
Name: Age, dtype: int32

In [21]:
mean_of_sample = sample_age.mean()
mean_of_sample

39.44

In [22]:
diff_btwn_means = mean_of_age - mean_of_sample
diff_btwn_means

0.7515454932103864